DATABASE_URL="postgresql://USER:PASS@HOST:5432/ekomart?sslmode=require"
JWT_SECRET="GERE_UMA_STRING_ALEATORIA_DE_NO_MINIMO_32_CHARS"
BLOB_READ_WRITE_TOKEN="TOKEN_DO_VERCEL_BLOB"
ADMIN_EMAIL_SEED="admin@genonline.com"
ADMIN_SENHA_SEED="Admin@2026!"
